@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Kablammo&family=Lato:wght@300;400;900&family=New+Tegomin&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,300&family=Oxanium:wght@200;400;800&family=Poppins:wght@200;400;900&family=Reenie+Beanie&family=Righteous&display=swap&family=Macondo&display=swap');

:root {
    --color:#071a6e;
	--color-header: #314889;
	--color-pink: #f75475;
    --primary-color: #fd951f;
    --bg-color: #130f0d;
    --text-color:#000000;
    --light-color: rgba(255, 255, 255, 0.04);
}

* { 
	margin: 0;
	padding: 0;
	font-family: "Macondo", cursive;
	box-sizing: border-box; 
	user-select: none;
	}
body { 
	background: #eee;
	color: #222;	
	font-size: 18px;      
	}

.container {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	transition: opacity 0.5s ease-in-out;
}

.fadeOut {
	opacity: 0;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-header);
	height: 150px;
	width: 100%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.829);
}

.headerSmartphone {
	display: none;
}

.links {
	position: relative;
	font-size: 1.2em;
	color: var(--color-pink);
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

.links:hover {
	color: #ddd;
	transition: 1s ease-in-out;
}

.currentLink {
	color: #ddd;
	text-decoration: underline;
}

main {
	margin: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	
	font-size: 1.2rem;
	text-align: justify;
	text-indent: 2em;
}
.content::first-letter {
	
	font-size: 2em;
	color: var(--color-pink);
}

img {
	height: 500px;
	width: 500px;
	position: relative;
	z-index: -1;
}

#helloWorld {
	position: absolute;
	right: 400px;
	bottom: 100px;
	font-size: 3rem;
	max-width: 100px;	
}

#p {
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 20px;
}

.info {
	max-width: 50%;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 30px 30px 0 0;
	height: 25%;
	width: 500px;
	padding: 40px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.829);
	border-radius: 5px;
}

.card:hover {
	transform: scale(1.05) translateY(-10px);
	background: var(--primary-color);
	color: var(--color);
	border:  1px solid var(--color-pink);
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: all .3s ease;
}

.card:hover h4 {
	font-weight: bold;
	color: var(--color);
	transition: all .3s ease;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}
.projetos {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.829);
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
	background: transparent;
	text-align: center;		
}

.projetos:hover {
	transform: scale(1.05) translateY(-10px);
	background: var(--primary-color);
	border:  1px solid var(--color-pink);
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	cursor: pointer;
	transition: all .3s ease;
}

.img {
	transform: scaleX(-1);
	z-index: 1;

}

.projetos a {
	height: 150px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #222;
}

.projetos a:hover {
	font-weight: bold;
	color: var(--color);
	transition: all .3s ease;
}

.mainContact {
	flex-direction: column;
}

.contact {
	margin-top: 20px;
	padding: 10px 50px 0 50px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.829);
	border-radius: 5px;
}

.contact:hover {
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: all .3s ease-in-out;
}

.contact form {
	padding: 20px 0 20px 0;
	display: flex;
	flex-direction: column;
}

.inputName, .inputEmail{
	position: relative;
}

.contact input::placeholder {
	color: #ddd;
}

.contact label {
	position: absolute;
	top: 30%;
	left: 5px;
	transform: translateY(-30%);
	font-size: 1rem;
	color: #222;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}
.contact input {
	color: #222;
	margin: 20px;
	background: transparent;
	font-size: 20px;
	height: 60px;
	width: 100%;
	padding: 20px;
	border: none;
	outline: none;
	border-bottom: 2px solid var(--color-pink);
}

.contact input:focus~label,
.contact input:valid~label {
	top: -5px;
	color: var(--color-pink);
	transition: 500ms;
}

#btnContact {
	margin: 20px 0 20px 0;
	height: 50px;
	width: 100px;
	border: none;
	border-radius: 5px;
	color: #ddd;
	font-weight: bold;
	background-color: var(--color-pink);
	cursor: pointer;
}

#btnContact:hover{
	transform: scale(1.05) translateY(-5px);
	font-weight: bold;
	color: var(--color);
	background-color: var(--primary-color);
	transition: .5s;
}

.msg {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	margin-left: 35px;
}

.msg textarea{
	outline: var(--color-pink) solid thin;
	resize: none;
	font-size: 16;		
	color: #222;
	font-size: 15px;
	border-radius: 5px;
	padding: 10px;
	border: 2px solid var(--color-pink);
	background: transparent;
	box-shadow: inset -2px -2px 8px rgba(255,92,85,.5), 0 0 10px rgba(255,92,85,.5);
}

footer {
	bottom: 0;
}

.footer {
	text-align: right;		
	padding: 40px;
}

.linksFooter {
	position: relative;
	font-size: 1.2em;
	color: var(--color-pink);
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

.linksFooter:hover {
	color: var(--text-color);
	transition: 1s ease-in-out;
}

@media (max-width: 700px) {
	.headerMain {
		display: none;
	}
	.headerSmartphone {
		display: flex;
	}
	.header-wrapper {
		background-color: var(--color-header);
		height: 20vh;
		width: 100%;    
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	
	.logo-p {
		color: #fff;
		text-align: center;
	}
	
	/* Menu Hamburguer */
	.checkbox-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.checkbox {
		height: 100px;
		width: 100px;
		position: absolute;
		top: 0;
		right: 0;
		
		display: flex;
		justify-content: center;
		cursor: pointer;
		z-index: 9999;
		transition: 400ms ease-in-out 0;
	}
	
	.checkbox .trace {
		width: 50px;
		height: 2px;
		background-color: var(--color-pink);
		position: absolute;
		border-radius: 5px;
		transition: 0.5s ease-in-out;
	}
	
	.checkbox .trace:nth-child(1) {
		top: 26px;
		transform: rotate(0);
	}
	
	.checkbox .trace:nth-child(2) {
		top: 46px;
		transform: rotate(0);
	}
	
	.checkbox .trace:nth-child(3) {
		top: 66px;
		transform: rotate(0);
	}
	
	#toggle {
		display: none;
	}
	.menu {
		position: absolute;
		top: 5px;
		right: 30px;
		background: transparent;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		box-shadow: 0px 0px 0px 0px #ffffff;
		z-index: -1;
		transition: 400ms ease-in-out 0s;
	}
	
	.menu-items {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transition: 400ms ease-in-out 0s;
		background: linear-gradient(-45deg, #050404, #1c1f2e, #191e4a, #314889);
		background-size: 400%, 400%;
		animation: backgroundTransition 8s ease-in-out infinite;
	}
	
	.menu-items ul {
		list-style-type: none;
	}
	
	.menu-items ul li a {
		display: block;
		margin: 10px 0;
		color: #f0f0f5;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 30px;
	}
	
	.menu-items ul li a:hover {
		background-color: transparent;
		color: var(--color-pink);
		transition: all 0.5s;
	}
	
	#toggle:checked + .checkbox .trace:nth-child(1) {
		transform: rotate(45deg);
		background-color: #d7dcf7;
		top: 47px;
	}
	
	#toggle:checked + .checkbox .trace:nth-child(2) {
		transform: translateX(-100px);
		width: 30px;
		visibility: hidden;
		opacity: 0;
	}
	
	#toggle:checked + .checkbox .trace:nth-child(3) {
		transform: rotate(-45deg);
		background-color: #d7dcf7;
		top: 48px;
	}
	
	#toggle:checked + .checkbox {
		background-color: var(--color-pink);
	}
	
	#toggle:checked ~ .menu {
		box-shadow: 0px 0px 0px 100vmax #ffffff;
		z-index: 1;
	}
	
	#toggle:checked ~ .menu-items {
		visibility: visible;
		opacity: 1;
	}

	main {
		margin: 0;
	}

	#aboutMe {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}

	#aboutMe img {
		height: 300px;
		width: 300px;
	}

	.info {
		max-width: 100%;
		padding: 20px;
	}

	#mainProjects {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}

	.projects {
		max-width: 100%;
	}

	.projetos a {
		height: 100px;
		width: 100px;
	}

	#mainDegree {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 10px;
	}

	.card {
		margin: 30px 0 0 0;
	}

	#mainContact {
		margin: 50px;
	}
	
	.contact {
		margin-top: 20px;
		padding: 5px 25px 0 25px;
	}

	.contact input {
		display: flex;
		align-items: center;
		width: 90%;
	}

	.msg {
		margin: 0;
	}

	.contact form {
		padding-top: 30px;
	}

	.msg textarea {
		width: 90%;
	}
}
